html{
    --main: #007787;
    --darker: #083b41;
    --dark: #02363c;
    --light: #f2f4f5;
    --white: #fff;
    --highlight: #a1f3d0;

    --text: #555759;
    --text-dark: var(--dark);
    --text-darker: var(--darker);
    --text-nav: #9b9b9b;
    --text-hover: var(--highlight);

    --text-family: geomanist;

    --double-text: 2em;
    --small: 10px;
    --medium: 50px;
    --large: 90px;
}

* {
  text-rendering: optimizeLegibility;
  font-family: var(--text-family);
}
.main-bg{background-color: var(--main);}
.main-c{color: var(--main);}
.main-bd{border-color: var(--main);}

.light-bg{background-color: var(--light);}
.light-c{color: var(--light);}
.light-bd{border-color: var(--light);}

.text-c{color: var(--text);}
.text-darker-c{color: var(--text-darker);}
.text-dark-c{color: var(--text-dark);}
.text-nav-c{color: var(--text-nav);}
.text-light-c{color: var(--white);}

.content-layout {
    display: grid;
    display: -ms-grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 15px 1fr 1fr 15px;
    -ms-grid-columns: 15px 1fr 1fr 15px;
    background: #fff;
}
@media only screen and (min-width: 768px){
.content-layout {
    grid-template-columns: 50px 1fr 1fr 50px;
    -ms-grid-columns: 50px 1fr 1fr 50px;
}
}

@media only screen and (min-width: 980px){
.content-layout {
    grid-template-columns: 1fr 480px 480px 1fr;
    -ms-grid-columns: 1fr 512px 512px 1fr;
}
}
@media only screen and (min-width: 1025px){
.content-layout {
  grid-template-columns: 1fr 512px 512px 1fr;
  -ms-grid-columns: 1fr 512px 512px 1fr;
}
}
