.grid{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(5 * 128px);
    width: calc(5 * 128px);
}
.row{
    display: flex;
}
#menu{
    margin-top: calc(128px - 50px);
    position: absolute;
    width: 128px;
    height: 50px;
    background-color: #f2f4f555;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    padding: 5px;
}
.grid #menu button{
    padding: 0;
    height: auto;
    width: 30%;
    margin: 1px;
    background-color: var(--light);
    color: var(--dark);
    font-weight: bold;
}
.grid #menu button:hover{
    color: var(--grey);
    border: solid 2px var(--grey);
}