.page{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
}
.section > div{
  display: block;
  min-height: calc(3 * var(--large));
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}
.section > div:first-of-type{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}
#page-buttons{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: var(--large);
  background: var(--light);
}
#page-buttons::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background: var(--light);
  display: block;
}
