#main-container::before,
#main-container::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--light);
}
#main-container::before{
  right:100%;
}
#main-container::after{
  left: 100%;
}
#main-container{
  position: relative;
  color: var(--text);
  background-color: var(--light);
  grid-gap: 16px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0 180px;
}
#main-container-title{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
}
#main-container-title h1{
  font-size: 48px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
#main-container-title h2{
  margin: 0;
  padding: 0 0 48px 0;
  font-size: 48px;
  font-weight: 500;
}
#main-container .column h3{
  margin-bottom: 13px;
  font-size: 26px;
  font-weight: 500;
  padding: 0;
}
#main-container .column p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}
#main-container .col:nth-of-type(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
}
#main-container .col:nth-of-type(2){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
}
#main-container .col:nth-of-type(3){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
}
#card::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 56px;
  background-color: var(--highlight);
}
#card{
  position: relative;
  padding: 1em 1em 1em 56px;
  transform: translateY(-150px);
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(85,87,89,0.1);
}
#card-content{
  display: block;
  margin-left: 20px;
  width: calc(100% - 2 * var(--large));
  max-width: 600px;
}
#card h1{
  padding: 24px 0 8px 20px;
  color: #555759;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (min-width: 768px){
  #card h1{
    padding: 17px 0 21px 40px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1025px){
  #card h1{
    padding: 70px 0 40px 40px;
  }
}
#details-overlap-container{
  display: flex;
  flex-direction: column;
  width: calc(3 * var(--large));
  height: 100%;
  position: absolute;
  top: 0;
  right: calc(0px - var(--large));
}
.labeled{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 58%, rgba(161,243,208,1) 100%);
}
